@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Lato:wght@700&display=swap");

:root {
    --fonte-titulo: "Lato", sans-serif;
    --fonte-texto: "Kalam", cursive;
    --cor-principal: #112D4E;
    --cor-secundaria: #3F72AF;
    --cor-tercearia: #DBE2EF;
    --cor-fonte: #F9F7F7;

    --cor-preto: #000000;
    --cor-fundo: linear-gradient(to bottom, var(--cor-secundaria), 70%, var(--cor-principal));
    height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background: var(--cor-fundo);
    color: var(--cor-fonte);
}

#titulo {
    text-align: center;
    justify-content: center;
    margin: 170px 0px 60px;
}

#titulo h1 {
    font-family: var(--fonte-titulo);
    margin-bottom: 10px;
    
}

#titulo p {
    font-family: var(--fonte-texto);
}

#principal {
    text-align: center;
    justify-content: center;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 0px 42.5%;
}


form label {
    font-family: var(--fonte-texto);
    margin-bottom: 2px;
}

input {
    width: 280px;
    height: 35px;
    margin-bottom: 10px;
    border: 2px solid var(--cor-preto);
    border-radius: 7px;
}

button {
    width: 280px;
    height: 35px;
    margin-top: 25px;
    border: 2px solid var(--cor-preto);
    border-radius: 7px;
    font-family: var(--fonte-texto);
    font-weight: bold;
    font-size: 16px;
}

button:hover {
    background-color: var(--cor-tercearia);
    transition: background-color 0.3s ease;
}

a {
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    font-family: var(--fonte-texto);
    color: var(--cor-fonte);
}

#rodape {
    position: fixed;
    bottom: 10px;
    width: 100%;
    color: var(--cor-fonte);
    font-family: var(--fonte-texto);
    text-align: center;
    padding: 10px
}


