@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Lato:wght@700&display=swap");

:root {
    --fonte-titulo: "Lato", sans-serif;
    --fonte-texto: "Kalam", cursive;
    --cor-principal: #112D4E;
    --cor-secundaria: #3F72AF;
    --cor-tercearia: #DBE2EF;
    --cor-fonte: #F9F7F7;

    --cor-preto: #000000;
    --cor-fundo: linear-gradient(to bottom, var(--cor-secundaria), 70%, var(--cor-principal));
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: var(--cor-fundo);
    color: var(--cor-fonte);
}

.lateral {
    width: 15%;
    height: 100vh;
    position: fixed;
    background-color: var(--cor-principal);
    text-align: center;
    border: 2px solid black;
}

hr {
    margin: 10%;
    border-top: 3px solid white;
    border-radius: 5px;
}

.logo {
    width: 25vh;
    margin: 30px 10px;
    padding: 10px 0px;
}

.lateral a {
    color: var(--cor-fonte);
    font-family: var(--fonte-titulo);
    text-decoration: none;
}

h3 {
    font-family: var(--fonte-titulo);
}

.links {
    text-align: center;
    padding-top: 60px;
}

.btn:hover {
    background-color: var(--cor-tercearia);
    transition: ease-in-out .3s;
}

.btn {
    font-family: var(--fonte-texto);
    justify-content: center;
    margin-bottom: 50px;
    font-size: 1.2rem;
}

.principal {
    width: 100%;
    height: 100vh;
    padding-left: 15%;
}

.principal h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 80px;
    font-family: var(--fonte-titulo);
}

form div {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
    align-items: center;
}

form {
    display: flex;
    margin: 0px 30%;
    gap: 10px;
}

input {
    width: 280px;
    height: 35px;
    border-radius: 7px;
    border: 2px solid var(--cor-preto);
}

label {
    font-family: var(--fonte-texto);
    margin-right: 10px;
}

button {
    width: 280px;
    height: 35px;
    font-family: var(--fonte-texto);
    font-weight: bold;
    font-size: 16px;
    border-radius: 7px;
    border: 2px solid var(--cor-preto);
}

button:hover {
    background-color: var(--cor-tercearia);
    transition: ease-in-out .3s;
}